apiVersion: hive.openshift.io/v1
kind: HiveConfig
metadata:
  creationTimestamp: null
  name: hive
  namespace: {{ acm_operator_namespace }}
  labels:
    installer.name: multiclusterhub
    installer.namespace: {{ acm_operator_namespace }}
spec:
  featureGates:
    custom:
      enabled:
        - AlphaAgentInstallStrategy
    featureSet: Custom
  logLevel: debug
  targetNamespace: hive
{% if (r_cluster_proxy_config.resources[0].spec.trustedCA.name is defined) and (r_cluster_proxy_config.resources[0].spec.trustedCA.name != '') %}
  additionalCertificateAuthoritiesSecretRef:
    - name: root-ca
{% endif %}