apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: {{ acm_operator_namespace }}
stringData:
  .dockerconfigjson: '{{ lookup('file', pull_secret_path) }}'
  type: kubernetes.io/dockerconfigjson