apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: {{ acm_operator_namespace }}
data:
  .dockerconfigjson: {{ pull_secret | to_json | b64encode }}
type: kubernetes.io/dockerconfigjson