apiVersion: multicluster.openshift.io/v1
kind: MultiClusterEngine
metadata:
  #labels:
  #  installer.name: multiclusterhub
  #  installer.namespace: open-cluster-management
  name: multiclusterengine
spec:
  availabilityConfig: Basic
  overrides:
    components:
      - name: assisted-service
        enabled: true
      - name: cluster-lifecycle
        enabled: true
      - name: cluster-manager
        enabled: true
      - name: discovery
        enabled: {{ enable_cluster_discovery | string }}
      - name: hive
        enabled: true
      - name: server-foundation
        enabled: true
      - name: managedserviceaccount-preview
        enabled: {{ enable_msa_preview | string }}
      - name: hypershift-preview
        enabled: {{ enable_hypershift | string }}
      - name: console-mce
        enabled: true
  targetNamespace: multicluster-engine
{% if deploy_to_infra_nodes | bool %}
# https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.6/html/install/installing#installing-on-infra-node
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/infra
      operator: Exists
    - effect: NoExecute
      key: node-role.kubernetes.io/infra
      operator: Exists
  nodeSelector:
    node-role.kubernetes.io/infra: ""
{% endif %}