apiVersion: helm.openshift.io/v1beta1
kind: HelmChartRepository
metadata:
  name: hashicorp-helm-charts
spec:
  connectionConfig:
    url: '{{ vault_chart_repository }}'
  name: Hashicorp Helm Charts
