apiVersion: helm.openshift.io/v1beta1
kind: HelmChartRepository
metadata:
  name: hashicorp-helm-charts
spec:
  connectionConfig:
    url: 'https://helm.releases.hashicorp.com'
  name: Hashicorp Helm Charts
