---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ssh_key_secret_name }}
  namespace: {{ cluster_name }}
  annotations:
    reflector.v1.k8s.emberstack.com/reflects: "{{ credential_namespace }}/{{ ssh_key_secret_name }}"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: '.*'
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: 'true'
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    cluster-role: ztp-spoke