---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    cluster-domain: {{ cluster_name }}.{{ base_domain }}
    cluster-role: ztp-spoke
    cluster-type: {{ cluster_type }}
    deployment-type: {{ deployment_type }}
{% if extra_labels is defined %}
{% for label in extra_labels %}
    {{ label.key }}: {{ label.value }}
{% endfor %}
{% endif %}
spec:
  clusterName: {{ cluster_name }}
  clusterNamespace: {{ cluster_name }}
  clusterLabels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    cluster-domain: {{ cluster_name }}.{{ base_domain }}
    cluster-role: ztp-spoke
    cluster-type: {{ cluster_type }}
    deployment-type: {{ deployment_type }}
  applicationManager:
    enabled: true
  policyController:
    enabled: true
  searchCollector:
    enabled: true
  certPolicyController:
    enabled: true
  iamPolicyController:
    enabled: true
  #workManager:
  #  enabled: true
