---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    cluster-domain: {{ cluster_name }}.{{ base_domain }}
    cluster-role: ztp-spoke
    #cluster.open-cluster-management.io/clusterset: default
{% if extra_labels is defined %}
{% for label in extra_labels %}
    {{ label.key }}: {{ label.value }}
{% endfor %}
{% endif %}
spec:
  hubAcceptsClient: true
