---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    cluster-role: ztp-spoke
    agentclusterinstalls.extensions.hive.openshift.io/location: {{ cluster_location }}
    networkType: {{ cluster_node_network_ipam }}
spec:
  agentLabels:
    agentclusterinstalls.extensions.hive.openshift.io/location: {{ cluster_location }}
    agentBareMetal-generated-infraenv-ai-flow: {{ cluster_name }}
  clusterRef:
    name: {{ cluster_name }}
    namespace: {{ cluster_name }}
  sshAuthorizedKey: "{{ ssh_public_key }}"
  pullSecretRef:
    name: {{ pull_secret_secret_name }}
  #ignitionConfigOverride: '{"ignition": {"version": "3.1.0"}, "storage": {"files": [{"path": "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem", "overwrite": true, "contents": {"source": "data:text/plain;base64,root_ca_bundle_pem_in_base64"} } ] } }'
  nmStateConfigLabelSelector:
    matchLabels:
      cluster-name: {{ cluster_name }}
{% if additionalNTPSources is defined %}
  additionalNTPSources:
{% for ntp in additionalNTPSources %}
    - {{ ntp }}
{% endfor %}
{% endif %}
{% if insert_proxy_infraenv|bool %}
{% if (spoke_httpProxy is defined) or (spoke_httpsProxy is defined) or (spoke_noProxy is defined) %}
  # spoke Proxy just needs to be defined once in the AgentClusterInstall CR
  proxy:
{% if spoke_httpProxy is defined %}
    httpProxy: {{ spoke_httpProxy }}
{% endif %}
{% if spoke_httpsProxy is defined %}
    httpsProxy: {{ spoke_httpsProxy }}
{% endif %}
{% if spoke_noProxy is defined %}
    noProxy: {{ spoke_noProxy }}
{% endif %}
{% endif %}
{% endif %}
