apiVersion: cluster.open-cluster-management.io/v1beta1
kind: ClusterCurator
metadata:
  name: {{ cluster_name }}-post-automation
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    cluster-domain: {{ cluster_name }}.{{ base_domain }}
    cluster-role: ztp-spoke
    cluster-type: {{ cluster_type }}
    hostname: {{ node_item.name }}
{% if extra_labels is defined %}
{% for label in extra_labels %}
    {{ label.key }}: {{ label.value }}
{% endfor %}
{% endif %}
spec:
  desiredCuration: install
  install:
    towerAuthSecret: rhacm-ansible-tower-credentials
    prehook: []
    posthook:
      - name: configure-idp
        extra_vars: {}
  upgrade:
    towerAuthSecret: rhacm-ansible-tower-credentials
    prehook: []
    posthook: []
