kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: vsphere-sc
provisioner: kubernetes.io/vsphere-volume
parameters:
  datastore: {{ vcenter_datastore }}
  diskformat: thin
reclaimPolicy: Delete
volumeBindingMode: Immediate