apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  creationTimestamp: null
  name: {{ rh_cert_manager_operator_namespace }}
  namespace: {{ rh_cert_manager_operator_namespace }}
spec: {}
#  targetNamespaces:
#    - {{ rh_cert_manager_operator_namespace }}