apiVersion: v1
kind: Secret
metadata:
  name: ac-tower-postgres-configuration
  namespace: {{ aap_operator_namespace }}
stringData:
  host: postgresql
  port: "5432"
  database: postgres
  username: postgres
  password: postgres
  type: unmanaged
type: Opaque