apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  creationTimestamp: null
  name: {{ target_operator_namespace }}
  namespace: {{ target_operator_namespace }}
spec:
  targetNamespaces:
    - {{ target_operator_namespace }}