---

- name: Start cluster install via AgentClusterInstall update
  kubernetes.core.k8s:
    state: patched
    kind: AgentClusterInstall
    name: "{{ cluster_configmap_info.resources[0].data.cluster_name }}"
    namespace: "{{ cluster_configmap.namespace }}"
    api_version: extensions.hive.openshift.io/v1beta1
    definition:
      spec:
        holdInstallation: false

- name: Get the RHACM Route
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    namespace: multicluster-engine
    name: assisted-service
  register: rhacm_route_info

- name: Set URL for Cluster Install Endpoint
  set_fact:
    assisted_service_endpoint: "https://{{ rhacm_route_info.resources[0].status.ingress[0].host }}/api/assisted-install/v2"

- name: Get Clusters
  uri:
    url: "{{ assisted_service_endpoint }}/clusters/"
    return_content: yes
    method: GET
    status_code: 200
    body_format: json
    validate_certs: no
  register: cluster_info

- name: Set the ClusterID when it matches the name
  set_fact:
    cluster_id: "{{ cluster_item.id }}"
  loop: "{{ cluster_info.json }}"
  loop_control:
    loop_var: cluster_item
    label: "{{ cluster_item.name }}"
  when: cluster_item.name == cluster_configmap_info.resources[0].data.cluster_name

- name: Ensure the cluster is in a valid state to get ready to install...
  uri:
    url: "{{ assisted_service_endpoint }}/clusters/{{ cluster_id }}"
    return_content: yes
    method: GET
    status_code: 200
    body_format: json
    validate_certs: no
  register: cluster_current_status
  until: cluster_current_status.json.status == "ready"
  retries: 120
  delay: 15

- name: Start the Installation of the OpenShift Cluster
  uri:
    url: "{{ assisted_service_endpoint }}/clusters/{{ cluster_id }}/actions/install"
    return_content: yes
    method: POST
    status_code: 202
    body_format: json
    validate_certs: no
  when: cluster_current_status.json.status == "ready"
  ignore_errors: true