apiVersion: helm.openshift.io/v1beta1
kind: HelmChartRepository
metadata:
  name: emberstack-helm-charts
spec:
  connectionConfig:
    url: '{{ reflector_helm_repository }}'
  name: Emberstack Helm Charts
