---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
spec:
  clusterDeploymentRef:
    name: {{ cluster_name }}
  imageSetRef:
    name: openshift-v{{ openshift_release }}
{% if cluster_type == 'sno' %}
  apiVIP: "{{ api_vip }}"
  ingressVIP: "{{ ingress_vip }}"
{% endif %}
  holdInstallation: false
  networking:
    networkType: OVNKubernetes
    #userManagedNetworking: false
    clusterNetwork:
      - cidr: "10.128.0.0/14"
        hostPrefix: 23
    serviceNetwork:
      - "172.30.0.0/16"
    machineNetwork:
      - cidr: "{{ machine_network_cidr }}"
  provisionRequirements:
    controlPlaneAgents: {{ (cluster_type == 'sno') | ternary('1', '3') }}
  sshPublicKey: "{{ ssh_public_key }}"
