---
kind: ConfigMap 
apiVersion: v1 
metadata:
  name: {{ cluster_name }}-cluster-config
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
data:
  cluster_name: {{ cluster_name }}
  cluster_provider: vsphere
  cluster_type: {{ cluster_type }}
  vsphere_datacenter: {{ vcenter_datacenter }}
  vsphere_cluster: {{ vcenter_cluster }}
  vsphere_datastore: {{ vcenter_datastore }}
  vsphere_network: {{ vcenter_network }}

  cluster_nodes: '{{ cluster_nodes | to_json }}'
