---
apiVersion: tower.ansible.com/v1alpha1
kind: AnsibleJob
metadata:
  name: {{ cluster_name }}-{{ deployment_type }}-bootstrap
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
spec:
  tower_auth_secret: {{ ansible_tower_secret_name }}
  job_template_name: {{ ansible_job_template_name }}
  extra_vars:
    vcenter_credentials_secret_namespace: {{ cluster_name }}
    vcenter_credentials_secret_name: {{ vcenter_credential_secret_name }}

    infraenv_namespace: {{ cluster_name }}
    infraenv_name: {{ cluster_name }}

    cluster_configmap_namespace: {{ cluster_name }}
    cluster_configmap_name: {{ cluster_name }}-cluster-config
