---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ node_item.name }}-{{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    name: {{ cluster_name }}
    cloud: vSphere
    vendor: OpenShift
    datacenter: {{ vcenter_datacenter }}
    cluster: {{ vcenter_cluster }}
    cluster-name: {{ cluster_name }}
    hostname: {{ node_item.name }}
spec:
  config:
    dns-resolver:
      config:
        server:
{% for dns_server in cluster_node_network_static_dns_servers %}
          - {{ dns_server }}
{% endfor %}
        search:
{% for dns_search in cluster_node_network_static_dns_search_domains %}
          - {{ dns_search }}
{% endfor %}
    interfaces:
{% for iface in node_item.interfaces %}
      - ipv4:
{% if not iface.dhcp|bool %}
          address:
{% for ipv4 in iface.ipv4 %}
            - ip: {{ ipv4.address }}
              prefix-length: {{ ipv4.prefix }}
{% endfor -%}
{% endif %}
          dhcp: {{ iface.dhcp }}
          enabled: true
        name: {{ iface.name }}
        state: up
        type: ethernet
{% if ((iface.routes is defined) and (iface.routes|length>0)) %}
    routes:
      config:
{% for route in iface.routes %}
        - destination: {{ route.destination }}
          next-hop-address: {{ route.next_hop_address }}
          next-hop-interface: {{ route.next_hop_interface }}
          table-id: {{ route.table_id }}
{% endfor %}
{% endif %}
{% endfor %}
  interfaces:
{% for iface in node_item.interfaces %}
    - name: {{ iface.name }}
      macAddress: {{ iface.mac_address }}
{% endfor %}
