apiVersion: v1
stringData:
  {{ vcenter_fqdn }}.password: {{ vcenter_password }}
  {{ vcenter_fqdn }}.username: {{ vcenter_username }}
kind: Secret
metadata:
  annotations:
    cloudcredential.openshift.io/mode: passthrough
  name: vsphere-creds
  namespace: {{ credentials_namespace }}
type: Opaque
