apiVersion: local.storage.openshift.io/v1alpha1
kind: LocalVolumeSet
metadata:
  creationTimestamp: null
  finalizers:
    - storage.openshift.com/local-volume-protection
  name: {{ lso_storage_class_name }}
  namespace: {{ lso_operator_namespace }}
spec:
  deviceInclusionSpec:
    deviceTypes:
      - disk
      - part
    minSize: 1Gi
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
{% for host in lso_hostname_targets %}
              - {{ host }}
{% endfor %}
  storageClassName: {{ lso_storage_class_name }}
{% if deploy_to_infra_nodes|bool %}
  tolerations:
    - effect: NoSchedule
      key: node.ocs.openshift.io/storage
      operator: Equal
      value: 'true'
    - effect: NoSchedule
      key: node-role.kubernetes.io/infra
      operator: Equal
      value: "reserved"
    - effect: NoExecute
      key: node-role.kubernetes.io/infra
      operator: Equal
      value: "reserved"
{% endif %}
  volumeMode: Block