kind: ArgoCD
apiVersion: argoproj.io/v1alpha1
metadata:
  creationTimestamp: null
  name: argocd
  namespace: {{ operator_namespace }}
spec:
  controller:
    resources:
      limits:
        cpu: 2000m
        memory: 2048Mi
      requests:
        cpu: 250m
        memory: 1024Mi
  dex:
    openShiftOAuth: true
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
  ha:
    enabled: false
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
  redis:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
  repo:
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 256Mi
  server:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 125m
        memory: 128Mi
    insecure: true
    replicas: 1
    route:
      enabled: true
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
  grafana:
    enabled: false
    size: 1
    route:
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
      enabled: true
  prometheus:
    enabled: true
    route:
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
      enabled: true
  rbac:
    defaultPolicy: 'role:admin'
    policy: |
      g, cluster-admins, role:admin
      g, admins, role:admin
    scopes: '[groups]'
  resourceExclusions: |
    - apiGroups:
      - internal.open-cluster-management.io
      kinds:
      - ManagedClusterInfo
      clusters:
      - "*"