apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  creationTimestamp: null
  name: {{ operator_namespace }}
  namespace: {{ operator_namespace }}
spec:
  targetNamespaces:
    - {{ operator_namespace }}