kind: Secret
apiVersion: v1
metadata:
  name: repo-{{ scm_repo_name }}
  namespace: {{ argocd_namespace }}
  creationTimestamp: null
  labels:
    argocd.argoproj.io/secret-type: repository
  annotations:
    managed-by: argocd.argoproj.io
stringData:
  name: {{ scm_repo_name }}
  project: {{ argocd_appproject_name }}
{% if scm_credential_type == "ssh" %}
  sshPrivateKey: |
{% for line in lookup('file', scm_credential_private_key).split('\n') %}
      {{ line }}
{% endfor %}
{% endif %}
{% if scm_credential_type == "basic" %}
  username: {{ scm_credential_username }}
  password: {{ scm_credential_password }}
{% endif %}
  type: git
  insecure: "true"
  url: {{ git_repo_url }}
type: Opaque
