apiVersion: helm.openshift.io/v1beta1
kind: HelmChartRepository
metadata:
  name: bitnami-sealed-secrets-helm-charts
spec:
  connectionConfig:
    url: 'https://bitnami-labs.github.io/sealed-secrets'
  name: Bitnami Sealed Secrets Helm Charts
