apiVersion: v1
kind: ConfigMap
metadata:
  name: mirror-config
  namespace: {{ http_mirror_operator_namespace }}
data:
  config.yml: |-
    app:
      assets:
{% for version in mirrored_versions %}
        - source: https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/{{ version }}/latest/rhcos-live.x86_64.iso
          destination: "/tmp/server/pub/openshift-v4/x86_64/dependencies/rhcos/{{ version }}/latest/rhcos-live.x86_64.iso"
          #overwrite: true

        - source: https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/{{ version }}/latest/rhcos-live-rootfs.x86_64.img
          destination: "/tmp/server/pub/openshift-v4/x86_64/dependencies/rhcos/{{ version }}/latest/rhcos-live-rootfs.x86_64.img"
          #overwrite: true

{% endfor %}
      server:
        host: 0.0.0.0
        base_path: "/pub/"
        fs_path: "/tmp/server/pub"
        skip_tls_verify: true
        port: 8080
        timeouts:
          server: 0
          read: 0
          write: 0
          idle: 0
