apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ztp-mirror
  namespace: {{ http_mirror_operator_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 20Gi
