apiVersion: v1
kind: Service
metadata:
  name: ztp-mirror
  namespace: {{ http_mirror_operator_namespace }}
spec:
  selector:
    app: mirror-server
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
