{"user":{{ user_response.json.results[0].id }},"isOrgLookupDisabled":false,"name":"{{ aap2_k8s_credential_name }}","organization":{{ aap2_organization_id }},"description":"","credential_type":{{ k8s_credential_types_response.json.results[0].id|int }},"inputs":{"host":"kubernetes.default.svc","bearer_token":"{{ aap2_k8s_sa_token_secret.resources[0].data.token | b64decode }}","verify_ssl":false,"ssl_ca_cert":{{ (aap2_k8s_sa_token_secret.resources[0].data["service-ca.crt"] | b64decode) | trim | to_json }}}}