apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  creationTimestamp: null
  labels:
    operators.coreos.com/openshift-gitops-operator.openshift-operators: ''
  name: openshift-gitops-operator
  namespace: openshift-operators
spec:
  channel: {{ argo_operator_channel }}
  installPlanApproval: Automatic
  name: openshift-gitops-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: {{ operator_csv_version }}
  config:
    env:
    - name: ARGOCD_CLUSTER_CONFIG_NAMESPACES
      value: '*'